.card {
  background-color: rgb(220,220,255);
  /* border: 2px solid rgb(139, 139, 119); */
  /* border-radius: 2%; */
  box-shadow: rosybrown;
  padding: .4rem;
  margin: 0;
  color: black;
  box-sizing: border-box;
  height: 100%;
  width: 22em;
}

.card-top {
  display: flex;
  align-items: center;
}

.card-title {
  margin: .1rem 0;
}

.card-rating {
  margin: 1rem 0;
  width: 4em;
  flex-shrink: 0;
}

.card-address {
  font-size: .9rem;
  margin: 5px 0;
  font-style: italic;
  color: gray;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around
}

.display-hidden {
  display: none;
}

.card-contact {
  font-size:.8rem;
  display: inline;
}

.card-state {
  margin: 10px 0;
  align-self: flex-end;
}

.contact-icon {
	margin: 10px 0;
	text-align: left;
}

.contact-icon > svg{
margin-right: 10px;
} 
